{% extends "layouts/standalone.jinja" %}

{% block title %}Reset Password - {{ super() }}{% endblock %}

{% block content %}
    <div class="content-header">
        <h1 class="content-title">Reset Password</h1>
        <p class="content-subtitle">Set a new password for your account</p>
    </div>
    
    {% if success %}
    <div class="success alert-sucess">
        <p>Your password has been succesfully reset. You can now login</p>
        <p><a href="/login">Login here</a></p>
    </div>
    </div>
    {% endif %}

    {% if expired %}
    <div class="expiry alert-expiry">
        <p>Your link to reset your password has expired. You can request a new link below.</p>
        <p><a href="/forgot-password">Request a new password</a></p>
    </div>
    </div>
    {% endif %}

    {% if error %}
    <div class="error alert-error">
        <p>Something went wrong and we are not sure what precisely. We are working on it. You can contact us if this can't wait.</p>
        <p><a href="/contact">Contact us</a></p>
    </div>
    </div>
    {% endif %}

    {% if token %}
    <form method="post" action="/reset-password">
        <div>
            <label for="new_password">Enter new password:</label>
            <input type="password" id="new_password" name="new_password" required>
            <input type="hidden" name="token" value="{{token}}">
        </div>
        <button type="submit">Set new password</button>
    </form>
    {% endif %}
{% endblock %}