Beste {{ first_name }} {{ last_name }},


We hebben een verzoek ontvangen voor een nieuw wachtwoord voor je AanvraagApp-account.

Heb je dit verzoek niet ingediend? Negeer dan dit bericht en neem contact op met je contactpersoon bij AanvraagApp.

Als je wel daadwerkelijk een nieuw wachtwoord wil instellen, klik dan op de onderstaande link:

{{ reset_password_url }}

Deze link is {{ n_minutes_till_expiry }} minuten geldig.


Met vriendelijke groet,


AanvraagApp
