Beste Heer/Mevrouw,


Jij of iemand anders heeft een aanvraag gedaan voor een nieuw wachtwoord voor een account bij ons met dit email-adres.

Echter is er bij ons geen account met dit email-adres. Een dergelijk account kan worden aangemaakt bij ons op deze webpagina:

https://localhost:80/register

Als je nooit om een nieuw wachtwoord hebt gevraagd, was dit mogelijk een foutje van iemand anders.

Met vriendelijke groet,


AanvraagApp
