Extract from the HTML human readable text related to this subsidy into markdown. The language of extracted text should be the same language as it was in the HTML.

## What you should filter out
1. (navigational) headers and footers.
2. Copyright notices.
3. Videos.
4. Images.
5. Markup.

## What you should extract
1. Information about the subsidy in natural language.
2. Both internal and external links related to the subsidy. Copy links themselves verbatim.

You are allowed to slightly summarize, but try to keep the extracted text close to the original.

## How to structure your markdown for subsidy information
Ensure your extracted subsidy text has a clear structure with markdown headers close to the original, with the exception that you should only use the # and ## headers. Headers smaller than that you should incorporate into a section with a # or ## header.

In your reply, respond with only the extracted markdown and nothing else.

The HTML of the web page is:

---
{{html_content | safe}}
---