Extract the provided schema from given markdown texts.

Documentation regarding the schema is:

---
{{schema.get_documentation() | safe}}
---

The markdown text with the client description is:

---
{{client_md_content | safe}}
---

The markdown text with the subsidy description is:

---
{{subsidy_md_content | safe}}
---
